<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CheckDetailsPath" value="C:\Users\nafiz.rifat\Documents\Application Data\Local_CheckDetails.csv" />
    <add key="CheckHeadersPath" value="C:\Users\nafiz.rifat\Documents\Application Data\Local_CheckHeaders.csv" />
    <add key="RevenueCenterPath" value="C:\Users\nafiz.rifat\Documents\Application Data\Local_RevenueCenter.csv" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionDiningDb"  connectionString="Data Source=diningsql.ad.ndsu.edu;  Initial Catalog=DiningAnalytics; Integrated Security=true; " />
  </connectionStrings>
</configuration>
